extends base-email

block content
  p Hello #{name},
  p You have a new contact form submission with the following details:
  
  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td 
          strong Name:
        td #{contactName}
      tr
        td
          strong Email:
        td
          a(href=`mailto:${contactEmail}`) #{contactEmail}
      tr
        td
          strong Subject:
        td #{subject}
      tr
        td
          strong Message:
        td #{message}

  p This message was sent through your website's contact form.